[client]
port    = 3306
default-character-set = utf8mb4

[mysql]
prompt="\u@mysqldb \R:\m:\s [\d]> "
no-auto-rehash

[mysqld]
character-set-server = utf8mb4
explicit_defaults_for_timestamp=1
log_timestamps = SYSTEM
server-id = 703306

open_files_limit=65535
back_log = 300
max_connections = 1024
max_connect_errors = 1000000
table_open_cache = 1024
table_definition_cache=1024
table_open_cache_instances = 16
innodb_open_files = 1024
external-locking = FALSE
max_allowed_packet = 32M
interactive_timeout = 1200
wait_timeout = 1200

# 以下8个注释参数在内存够大的时候可以开启调高，内存8G以内就算了用默认值
#max_heap_table_size = 64M
#tmp_table_size = 64M
#key_buffer_size = 32M
#read_rnd_buffer_size = 4M
#read_buffer_size = 1M
#bulk_insert_buffer_size = 64M
#sort_buffer_size = 2M
#join_buffer_size = 2M
thread_cache_size = 64

# errorlog 和 slowlog
#log_error = /data/mysql3306/error.log
#slow_query_log = 1
#slow_query_log_file = /data/mysql3306/slow.log
#long_query_time = 2
# 下面这条开启后慢查询日志会记录未使用索引的sql语句
#log_queries_not_using_indexes =1
# 每分钟记录到slowlog的未使用使用索引sql次数，默认无限制
#log_throttle_queries_not_using_indexes = 60

# binlog
log_bin=/var/lib/mysql/mysql-bin
# 以下2个参数1,1安全最好0，1数据安全高但允许备库落后或无复制，0,0适合日志业务
#默认0改成1性能会比0差5倍，但是数据安全性更高
sync_binlog = 1   
#默认1改成2最多只会丢1秒的事务
innodb_flush_log_at_trx_commit = 2
binlog_cache_size = 4M
max_binlog_cache_size = 1G
max_binlog_size = 1G
expire_logs_days = 7
# 下面2条的值是相对的做主从就这么设置就好
binlog_format = Row
transaction_isolation = REPEATABLE-READ


#性能使用监控相关，对性能有一定影响
performance_schema = 1
performance_schema_instrument = '%=on'

#关闭严格模式
sql_mode=NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER
#忽略大小写
lower_case_table_names=1

#innodb
#缓存池的内存大小如果是独立数据库服务器的话按实际80%内存来,如果不是就50%
innodb_buffer_pool_size = 1G
innodb_large_prefix = 1
innodb_open_files = 65535
innodb_file_per_table=1
innodb_data_file_path = ibdata1:512M:autoextend  
innodb_print_all_deadlocks = 1
innodb_log_buffer_size = 16M
innodb_log_file_size = 512M
innodb_log_files_in_group = 3
innodb_thread_concurrency = 8
innodb_max_dirty_pages_pct = 50
innodb_lock_wait_timeout = 10
innodb_file_per_table = on
innodb_purge_threads = 2

# 以下2个参数根据2核CPU核心数修改
innodb_write_io_threads = 2  
innodb_read_io_threads = 2 

# 根据服务器IOPS能力适当调整
# 配一块普通SSD硬盘，可以调整到 10000 - 20000
# 5.7默认是200-2000
innodb_io_capacity = 200
innodb_io_capacity_max = 2000

#  有raid需要设置为如下，没有就默认
#innodb_flush_method=O_DIRECT


#myisam相关
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1


[mysqldump]
quick
max_allowed_packet = 32M

# myisam引擎的check使用没需要不需要加
#[myisamchk]
#key_buffer_size = 512M
#sort_buffer_size = 512M
#read_buffer = 8M
#write_buffer = 8M

# 使用mysqld_safe命令启动的参数
[mysqld_safe]
open-files-limit = 65535
